In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from parsers.google.CalendarParser import CalendarParser

In [2]:
cal_parser = CalendarParser('data/google/Calendar/school-schedule.ics')
classes = pd.DataFrame(cal_parser.parse())
classes = classes.sort_values(by='start').reset_index(drop=True)
classes.head()

,course,duration,end,faculty,start,type
0,ECE 105,01:50:00,2013-09-09 10:20:00-04:00,ECE,2013-09-09 08:30:00-04:00,TUT
1,ECE 150,00:50:00,2013-09-09 12:20:00-04:00,ECE,2013-09-09 11:30:00-04:00,TUT
2,ECE 105,00:50:00,2013-09-09 14:20:00-04:00,ECE,2013-09-09 13:30:00-04:00,LEC
3,ECE 140,00:50:00,2013-09-09 15:20:00-04:00,ECE,2013-09-09 14:30:00-04:00,LEC
4,MATH 117,00:50:00,2013-09-09 16:20:00-04:00,MATH,2013-09-09 15:30:00-04:00,LEC

In [3]:
len(classes)

2085

In [4]:
classes.duration.sum()

Timedelta('102 days 20:15:00')

In [6]:
total_time = classes['duration'].sum()
print(total_time.days*24 + total_time.seconds//3600, 'hours')

2468 hours